$pure-white: #FFFFFF;
$pure-black: #000;
$ligth-blue:#377DFF;
$blue: #37DBFF;

$description-dark:#1D1D1D;
$description-light:#464646;

$black-description-dark:#0D0D0D;
$black-description-light:#E2E2E2;


$footer-bk:#383638;