@font-face {
    font-family: 'Quicksand'; /* Название шрифта */
    src: url('../assets/fonts/Quicksand/Quicksand-Bold.ttf') format('truetype'); 
    font-weight: 700; /* Обычный вес */
    font-style: normal; /* Обычный стиль */
  }
  
@font-face {
    font-family: 'Quicksand';
    src: url('../assets/fonts/Quicksand/Quicksand-Light.ttf') format('truetype'); 
    font-weight: 300; /* Жирный вес */
    font-style: normal; /* Обычный стиль */
  }
  
 @font-face {
    font-family: 'Quicksand';
    src: url('../assets/fonts/Quicksand/Quicksand-Regular.ttf') format('truetype'); 
    font-weight: 400; /* Обычный вес */
    font-style: normal; /* Курсивный стиль */
  }
  
@font-face {
    font-family: 'Quicksand';
    src: url('../assets/fonts/Nunito/Nunito-Medium.ttf') format('truetype'); 
    font-weight: 500; /* Жирный вес */
    font-style: normal; /* Курсивный стиль */
  }

@font-face {
    font-family: 'Quicksand';
    src: url('../assets/fonts/Quicksand/Quicksand-Bold.ttf') format('truetype'); 
    font-weight: 600; /* Жирный вес */
    font-style: normal; /* Курсивный стиль */
  }

@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype'); 
    font-weight: 800; /* Жирный вес */
    font-style: normal; /* Курсивный стиль */
}

@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito/Nunito-Bold.ttf') format('truetype'); 
    font-weight: 700; /* Жирный вес */
    font-style: normal; /* Курсивный стиль */
}

@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito/Nunito-Regular.ttf') format('truetype'); 
    font-weight: 400; /* Жирный вес */
    font-style: normal; /* Курсивный стиль */
}

