@use '../styles/colors.scss' as *;
@use '../styles/mixin.scss' as *;

.header{
    display: flex;
    width: 100%;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    background-color: var(--bk-color);
    padding-bottom: 3rem;
}

.header__menu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header__logo{
    flex-direction: column;
    margin: 0.5rem auto 0.5rem 0.5rem;
}
.header__text-block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
.header__image{
    width: 300px;
    display: flex;
}
.header__content{
    display: flex;
    position: relative; // Или любое другое значение position
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
   
    padding: 1rem;
    gap: 50px;
}

.header__button-start{
    @include button-style( 9rem, 2.375rem,var(--light-blue),1px solid var(--light-blue),3rem);
    @include font-styles('Quicksand',700, .75rem, 1.125rem, var(--pure-white));
}

.header__button-start:hover{
    @include button-style( 9rem, 2.375rem,var(--blue),1px solid var(--blue),3rem);

}
//header text
.header__title-text{
    @include font-styles('Nunito',800, 1.75rem, 2.375rem, var(--description-dark));
    
}

.header__title-text-gray{
    @include font-styles('Nunito',400, .875rem,1.5rem,var(--description-light));
}

.header__logo-text{
    @include font-styles('Quicksand',700, .875rem, 1.0625rem, var(--description-dark));
}

.header__bottom-logo-text{
    @include font-styles('Quicksand',400, .75rem, .9375rem, var(--description-dark));
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:var(--pure-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    font-size: 2em;
    z-index: 999;
    transition: opacity 1s ease, visibility 1s ease; /* Плавный переход для исчезновения */
    opacity: 1; /* Исходная непрозрачность */
    visibility: visible; /* Показать элемент */
}

.header__slider-sub-title-text{
    @include font-styles('Quicksand',400, 3.4375rem, 4.3125rem, var(--description-dark));
}

.header__slider-title-text{
    @include font-styles('Quicksand',700, 4.3125rem, 5.1875rem, var(--description-dark));
}
.header__slider-text{
    @include font-styles('Quicksand',400, 2rem, 2rem, var(--description-light));
}
.preloader__text-block{
    width: 252px;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: -3rem;
    z-index: 1000;
}

.preloader__block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--pure-white);
    
}

.preloader__text-bloc-bottom{
    width: 431px;
    height: 168px;
    
}

.preloader__image-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--pure-white);
    z-index: 9999;
    margin-left: 5rem;
    margin-right: -11rem;
    
}

#preloader.hidden {
    opacity: 0; /* Будет прозрачным при скрытии */
    visibility: hidden; /* Скрыть элемент */
}


#content {
    display: none; 
    text-align: center;
}

.slide-in {
    opacity: 0;
    transform: translateX(-90%); /* Сдвинуть текст за пределы экрана */
    animation: slideIn 1s forwards; /* Анимация с длительностью 0.5 секунды */
    animation-delay: 3s; /* Задержка перед началом анимации */
}

.slide-in-bottom {
    opacity: 0;
    transform: translateX(-40%); /* Сдвинуть текст за пределы экрана */
    animation: slideIn 1s forwards; /* Анимация с длительностью 0.5 секунды */
    animation-delay: 4s; /* Задержка перед началом анимации */
}

.animated-image {
    opacity: 0; /* Скрываем изображение в начале */
    display: block; /* Убедитесь, что элемент отображается */
    animation:  scaleUp 1s forwards, slideAndShrink 1.5s forwards; /* Обе анимации */
    animation-delay: 0.3s, 2s; /* Задержка для первой анимации: 2 секунды, затем 1.5 секунды для возможности scaleUp */
}

@keyframes scaleUp {
    0% {
        opacity: 1;
        transform: scale(0.5); /* Начальное состояние: масштаб 0 */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Завершающее состояние: нормальный масштаб */
    }
}

@keyframes slideAndShrink {
    0% {
        opacity: 1; /* Начальное состояние: невидимо */
        transform: translateX(0%) scale(1); /* Начальная позиция */
    }
    100% {
        opacity: 1; /* Конечное состояние: видно */
        transform: translateX(-50%) scale(0.5); /* Сдвинуть и уменьшить */
    }

}


@keyframes slideIn {
    to {
        opacity: 1; /* Полная непрозрачность */
        transform: translateX(0); /* Вернуть текст в обычное положение */
    }
}

//balloons
.balloon-container {
    position: absolute;
    margin-top: 80px ;
    width: 100%;
    height: 530px;
    overflow: hidden; /* Скрываем выходящие за пределы элементы */

    z-index: 0;

}

.balloon {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ff6347; /* Цвет шарика (томатный) */
    border-radius: 30px;

}

.balloon::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
}

.fade-in {
    opacity: 0; /* Исходное состояние: скрыто */
    transform: translateY(20px); /* Сдвиг вниз */
    transition: opacity 0.6s ease, transform 0.6s ease; /* Плавный переход */
}

.fade-in.visible {
    opacity: 1; /* Показать элемент */
    transform: translateY(0); /* Вернуть на место */
}


//menu-login text

.header__menu-text-header{
    margin-top: 3rem;
    margin-left: 0.65rem;
    z-index: 10;
    position: absolute;
    visibility: hidden;
    flex-direction: column;
    display: flex
}

.menu__text{
     @include font-styles('Quicksand',400, .75rem, .9375rem, var(--description-dark));
    margin: 2rem 1.875rem 1rem 0;
    cursor: pointer;
}

.modal__message-title-text{
    @include font-styles('Nunito',800, 1.75rem, 2.375rem, var(--description-dark));
}

.modal__email-message-text{
    @include font-styles('Quicksand',700, 1rem, 1.5rem, var(--light-blue));
}

.modal__transparent-text{
    @include font-styles('Quicksand',400, .875rem, 1.5rem, var(--description-light));
}
.modal__attach-block {
    white-space: nowrap; /* Предотвращает перенос строк */
}

.modal__attach-block img {
    display: inline-block; /* Изображение как блочный элемент в строке */
    vertical-align: middle; /* Выравнивание по центру по вертикали */
}

.modal__attach-block p {
    display: inline-block; /* Текст как блочный элемент в строке */
    margin-left: -5px; /* Отступ слева от изображения */
    vertical-align: middle; /* Выравнивание по центру по вертикали */
}

.modal__message-container::placeholder {
    color: var(--light-blue); /* Задаем синий цвет для плейсхолдера */
    opacity: 1; /* Опционально: устанавливаем непрозрачность на 1, чтобы цвет был ярче */
}

.modal__remember-margin{
    margin:-1.25rem 0 4.375rem 0 ;
}

.menu__text:hover {
    font-weight: 800; /* Цвет при наведении */
}
//модальное окно
.modal{
    position:fixed;
    z-index: 1000;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
    transition: opacity .4s, visibility .4s;
    visibility: hidden;
    opacity: 0;
    
}

.modal__show-modal{
visibility: visible;
opacity: 1;


}
.modal__title-text-block{
    text-align: center;
    padding:0 1rem;
}
.modal__content{
    border: 4px solid var(--pure-white);
    background-color: var(--bk-color);
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column; /* Устанавливаем вертикальное направление */
    gap: 1.875rem; /* Задаем расстояние между элементами */
    height: 80rem;
}

.header__img-container{
display: flex;
flex-direction: row;
height: 1.5rem;
margin: 0rem 2rem 0;
}

.modal__message-form{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.modal__close{

    cursor: pointer;
    margin:1.875rem 1.875rem  0  auto;
    height: 1.125rem;
 
}
.modal__email-name-container {
   background-color: var(--bk-color);
    border-radius: 24px;
    border: 1px solid var(--light-blue);
    @include font-styles('Quicksand',700, 1rem, 1.5rem, var(--light-blue));
    width: 100%;
    height: 2.75rem;
    margin-bottom: 1.875rem;
}

.modal__email-name-container::placeholder {
    color: var(--light-blue); /* Задаем синий цвет для плейсхолдера */
    opacity: 1; /* Опционально: устанавливаем непрозрачность на 1, чтобы цвет был ярче */
}

.modal__message-container {
    background-color: var(--bk-color);
    border-radius: 24px;
    border: 1px solid var(--light-blue);
    @include font-styles('Quicksand',700, 1rem, 1.5rem, var(--light-blue));
    width: 100%;
    height: 7.75rem;
    margin-bottom: 1.875rem;
}

.modal__message-container::placeholder {
    color: var(--light-blue); /* Задаем синий цвет для плейсхолдера */
    opacity: 1; /* Опционально: устанавливаем непрозрачность на 1, чтобы цвет был ярче */
}
  
.modal__message-button-modal{
    background-color:transparent ;
    width: 13.375rem;
    height: 3.125rem;
    margin: 2rem;
    @include font-styles('Quicksand',700, 1rem, 1.5rem, var(--light-blue));
    border-radius: 24px;
    border:1px solid var(--light-blue);
}

//dropdown
.dropdown-button {
    cursor: pointer;
    background-image: url("./assets/header/dropdown.svg");
    background-repeat: no-repeat; /* Запрет на повторение изображения */
    border: none; /* Убираем стандартные рамки */
    background-color: transparent; /* Прозрачный фон */
    outline: none; /* Убираем обводку при фокусе */
    margin: 0.5rem;
    width: 40px;
    height: 40px;
  }
 
  .dropdown-button-close{
    background-image: url("./assets/header/close.svg"); /* Фоновое изображение */
    background-size: 100% 100%; /* Изображение заполняет весь размер кнопки, искажая пропорции */
    width: 40px;
    height: 40px;
    margin-top:5px;
  }

  .dropdown-button-hidden{
    display: none;
  }

  .dropdown-content {
    position: absolute;
    right: 0;
    left: 0;
    background-color: var(--bk-color);
    max-height: 0; /* Начальная высота 0 */
    margin-top: 15px;
    z-index: 1;
    transition: max-height 0.4s ease, opacity 0.4s ease, visibility 0.4s ease; /* Плавный переход на max-height и opacity */
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    opacity: 0;
   
    padding: 30px 0px 1px 20px;
    overflow: hidden; /* Скрывает содержимое, выходящее за пределы */
}

.show-dropdown {
    visibility: visible; /* Начальное состояние видимости */
    max-height: 60rem; /* Установите максимальную высоту, достаточную для вашего содержимого */
    height: 60rem;
    opacity: 1; /* Полная видимость */
    
}

.menu__login-button{
    width: 30vh;
    height: 3.125rem;
    background-color:var(--bk-color) ;
    @include font-styles('Quicksand',700, 1rem,1.5rem,var(--light-blue));
    border-radius: 3rem;
    border: 1px solid var(--light-blue) ;
    margin: 4rem 0;
}

.menu__login-button:hover{
    @include font-styles('Quicksand',700, 1rem,1.5rem, var(--blue));
    border: 1px solid var(--blue) ;
}
.show-menu{
    visibility: visible;
    display: flex;
}
.close-button{
    display: none;
    margin-top: 10px;
    cursor: pointer;
    visibility: hidden;
  }

  .show-close{
    display: block;
    visibility: visible;
  }

  .welcome-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Чтобы экран был поверх других элементов */
    opacity: 0; /* Изначально невидим */
    animation: fadeIn 8s forwards; /* Анимация появления */
}

.welcome-screen h2 {
    margin: 0;
}

.welcome-screen p {
    margin-bottom: 20px;
}

/* Анимация появления */
@keyframes fadeIn {
    to {
        opacity: 1; /* Полная видимость */
    }
}

/* Анимация исчезновения */
.fadeOut {
    animation: fadeOut 8s forwards; /* Анимация исчезновения */
}

@keyframes fadeOut {
    to {
        opacity: 0; /* Полная прозрачность */
    }
}

  @media(min-width:768px) {
    .modal__message-title-text{
        @include font-styles('Nunito',700, 3.4375rem, 4.6875rem, var(--description-dark));
    }
    
    .modal__email-message-text{
        @include font-styles('Quicksand',700, 1rem, 1.5rem, var(--light-blue));
    }
    
    .modal__transparent-text{
        @include font-styles('Quicksand',400, 1.25rem, 2rem, var(--description-light));
    }
    .balloon-container {
        height: 450px;
    }
    .header__content{
        display: flex;
        max-width: 100%;
        gap:50px;
        text-align: center;
        justify-content: center;
        align-items: center;
        

    }
    
    .balloon-container {
        width: 100%;
        position: absolute;
        z-index: 0;
        margin-top: 80px ;
        margin-bottom: 50px;
        
    }
    .dropdown-content {
        height: 30rem;
    }
      .modal{
        background-color: var(--light-blue); 
        align-items: center;
    }
    
    .show-modal{
    visibility: visible;
    opacity: 1;
    
    }

    .modal__content{
        z-index: 1000;
        margin: 100px auto ;
        width: 40rem; 
        height: 45.0625rem;
        gap: 20px; /* Задаем расстояние между элементами */
        border-radius: 9px;
        padding-bottom: 16px;
        padding: 1rem;
    }
    
    .modal__login-form{
        width: 90%;
    }




  } 
  
  @media(min-width:1244px){
    .header__img-container{
        display: none;
        flex-direction: row;
        height: 1.5rem;
        }
    .modal{
        background-color: rgba(0, 0, 0, 0.4); 
        align-items: center;
    }
   .menu{
    visibility: visible;

   }
    .header__menu-text-header{
        margin-top: auto;
        margin-left: auto;
        z-index: 10;
        position: relative;
        flex-direction: row;
        display: flex;
        text-align: center;
 
        justify-content: center; 
        align-items: center;   
    }
    .dropdown-button {
        visibility: hidden;
        
    }

    .menu__text{
        @include font-style(500, .875rem, 1.5rem, var(--description-dark));
        cursor: pointer;
        margin: 0 10px;
    }

    .header__menu{
    
        display: flex;
        justify-content: space-between;
        padding: 10px 0 10px 50px;
    }
    .show-dropdown {
        visibility: hidden;
        opacity: 1;
      
      }

      .menu__login-button{
        margin:  0 2rem 0 4rem ;
    }
      .close-button{
        display: none;
        margin-top: 10px;
        cursor: pointer;
        visibility: hidden;
      }
      .dropdown-content {
        visibility: hidden;
    }
    .header__title-text{
        @include font-styles('Nunito',800, 4rem, 5.4375rem, var(--description-dark));
        
    }
    
    .header__title-text-gray{
        @include font-styles('Nunito',400, 1.25rem,1.875rem,var(--description-light));
    }
    
    .header__logo-text{
        @include font-styles('Quicksand',700, 1.25rem, 1.5rem, var(--description-dark));
    }
    
    .header__bottom-logo-text{
        @include font-styles('Quicksand',400, 1rem, 1.25rem, var(--description-dark));
    }
    .menu__text{
        @include font-styles('Quicksand',400, 1.125rem, 1.5rem, var(--description-dark));
   }
   .header__text-block{
width: 940px;
gap:1rem;

}
.header__image{
    width: 500px;
    display: flex;
}
.modal__title-text-block{
    
    padding:0 2rem;
}
  }